// Global Styles
@import './reset.scss';

// variables
$backgroundColor: #fff;


*,
*::before,
*::after { 
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.app {
  background-color: $backgroundColor;
}


// helpers
.h-text-center {
  text-align: center !important;
}