$color: yellow;

.cards {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // align-items: center;
}

.card {
  background: $color;
  border: 2px solid blue;
  // flex: 0 1 30vw;
}