.button {
    background-color: #EB5867;
    color: white;
    display: inline-block;
    position: relative;
    padding: 12px 20px 12px;
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(136,144,195,0.2), 0 5px 15px 0 rgba(37,44,97,0.15);
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: color .2s ease,background-color .2s ease,border-color .2s ease,box-shadow .2s ease,transform .2s ease;

    &:hover {
        background-color: #d24f5c;
        transform: translateY(-2px);
        box-shadow: 0 2px 8px 0 rgba(136,144,195,0.22), 0 8px 15px 0 rgba(37,44,97,0.17);
    }
}

// modifiers
.button.bg-transparent {
    background-color: transparent;
}

.button.white-outline {
    border-color: #fff;
    color: #fff;
}

.button.red-outline {
    border-color: #EB5867;
    color: #EB5867;
}

.button.black-outline {
    border-color: #000000;
    color: #000000;
}