.header {
    padding: 20px 20px;

    @media (max-width: 767px) {
        text-align: center;
        padding-top: 15px;
    }

    .wrapper {
        max-width: 1180px;
        margin: 0 auto;
    }

    .logo {
        transition: all 200ms; 

        &:hover {
            opacity: 0.7;
        }

        img {
            max-height: 70px;
            margin-top: 10px;

            @media (max-width: 767px) {
                max-height: 60px;
                margin-bottom: 25px;
            }
        }
    }  

    .right {
        @media (min-width: 768px) {
            text-align: right;
        }
    }
}
