.ongoing {
    background: url(https://ucarecdn.com/3c2455a0-1763-41a0-986e-f7cd7f9296c5/) no-repeat center;
    background-size: cover;
    padding: 80px 15px;
    position: relative;
    color: #fff;

    @media (min-width: 767px) {
        padding-left: 30px;
        padding-right: 30px;
    }

    a, h2 {
        color: #fff;
    }

    .wrapper {
        max-width: 900px;
        margin: 0 auto;
        z-index: 1;
        position: relative;

        @media (max-width: 767px) {
            text-align: center;
        }
    }

    .mask {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #C4374C;
        opacity: 0.8;
    }
}